*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
   
}

.contenitore-header{
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.bottone-inizio{
    background-color: blue;
    color: white;
    margin-left: 5px;
    padding: 2px 5px;
}

.bottone{
    background-color: blue;
    color: white;
    padding:16px 11px 20px 25px;;
    margin-left: 5px;
}

.brand{
    height: 20px;
}

.flex{
    display: flex;
}
ul{
    list-style: none;
}

.li{
    padding-left: 10px;
}

.info-destra{
    display: flex;
}

#jumbo{
    background-color: rgb(144, 208, 245);
    width: 100%;
    
}

.jumbotron{
    width: 70%;
    margin: 0 auto;
    top: 30px;
    position: relative;
}

.titolo{
    padding-top: 23px;
    font-size: 50px;
    font-weight: 900;
}

.titolo-checkbox{
    margin-top: 30px;
}

.piccola-colonna{
    padding-top: 10px;
    width: 30%;
    padding: 5px 10px 5px 0px;
    font-size: 10px;
    margin-top: 20px;
}

.testo-colonna-piccola{
    margin: 2px 2px 10px 2px;
    font-size: 1rem;
}

.testo-colonna-piccola-basso{
    margin: 19px 12px 57px 2px;
    font-size: 1rem;
}

.bottone-jum{
    padding: 7px 24px 6px 24px;
    background-color: blue;
    color: white;
    margin: 45px 0px 32px;
    font-size: 15px;
}

.colonne{
    margin-top: 20px;
}

.grande-colonna{
    width: 70%;
}
.interfaccia{
    width: 100%;
    margin-top: 20px;
}

.azienda{
    justify-content: space-between;
}

.bottone-vendite{
    margin: 34px 61px 30px 25px;
    background-color: blue;
    color: white;
    padding: 6px 14px 6px 15px;
}

.contenitore{
    width: 70%;
    margin: auto;
    padding-top: 20px;
}

.check{
    color: black;
    font-size: 10px;
    margin: 20px 15px;
    font-size: 15px;
}

#Fatturazione-annuale{
    margin-left: 30px;
}



.colonna{
    width: calc((100% / 3) - 2rem);
    margin:  2rem 1rem;
    border: 1px solid lightgray;
    
}

.p-grigia{
    font-size: 10px;
    color: lightgray;
}

.testo-colonna{
    
    margin: 15px 19px;
}

h3{
    margin: 19px;
    font-weight: 600;
}

.bottone-colonne{
    padding: 6px 25px 6px 25px;
    font-size: 10px;
    margin: 20px 16px 21px 33px;
}

.utente{
    text-align: center;
}

.fa-solid .fa-user{
    margin: 0px 5px;
}

.p-grigia{
    margin: 0px 19px;
}

span{
    color: blue;
    text-decoration: underline ;
}

.titoletto{
    font-size: 13px;
    margin: 27px 19px;
    font-weight: bold;
}

hr{
    color: lightgray;
}

.rettangolo{
    margin-top: .5rem;
    width: 100%;
    border: 1px solid lightgray;
}



.partner{
    width: 60%;
    margin: auto;
    
    margin-top: 75px;
}

.immagine{
    width: 70%;
}

.foto-partner{
    width: 100%;
}

.testo-partner{
    width: 30%;
    padding-left: 10px;
}

.titolo-partner{
    font-size: 15px;
}

.bottone-partner{
    margin: 10px 18px;
    padding: 2px 8px;
}

.titolo-sei-riquadri{
    margin: 70px auto;
    width: 60%;
    font-weight: 600;
}

.sei-riquadri{
    width: 60%;
    margin: 50px auto;
}

.riquadro{
    width: calc((100% / 3) - .5rem);
    margin:  2rem .25rem;  
}

.cinque-persone{
    width: 100%;
}

.titolo-sei-ri{
    font-size: 15px;
    font-weight: 600;
}

.testo-sei-ri{
    font-size: 15px;
    padding: 2px 17px;
}

.piu-di-500{
    width: 60%;
    margin: auto;
}

.titolo-di-piu{
    font-weight: 600;
}

.di-piu{
    font-size: 15px;
    margin-top: 40px;
}

.clienti{
    width: 100%;
    margin-top: 120px;
    flex-wrap: nowrap;
    
}

.tre-quadrati{
    width: calc(100vw / 3);
    border: 1px solid lightgray;
    height: calc(100vw / 3);
    display: flex;
}

.quadrato{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    background-color: yellow;
}

.verde{
    background-color: rgb(178, 248, 178);
}

.grigio{
    background-color: rgb(231, 231, 231);
}

.bordeaux{
    background-color: rgb(146, 0, 29);
}

.rosso{
    background-color: red;
}

.blu{
    background-color: blue;
}




.foto-marca{
    width: 100%;
    padding: 50px;
    filter: 
   
    
}

.rett-centrale{
    width: 100%;
    background-color: rgb(241, 241, 241);
}

.foto-marca-centrale{
    width: 50%;
    padding: 21px;
}

.testo-quadrato-centrale{
    font-size: 13px;
    margin: 63px 32px 37px 33px;
}

.porta-azienda{
    background-color: rgb(144, 208, 245);
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding: 72px;
   
}

.porta-azienda-scritto{
    width: 60%;
   
}

.titolo-porta-azienda{
    font-size: 40px;
    font-weight: 600;
    color: rgb(146, 0, 29);
    padding: 1px 12px 5px 224px;
}

.bottone-porta{
    width: 40%;
}

.bottone-porta-azienda{
    background-color: white;
    color: black;
    padding: 9px 12px 6px 19px;
    margin-top: 40px;
    
}

